image-processing-service/app/cloud-storage-key.json
image-processing-service/app/processedImages/1cdy16n4vOX1fJCr5bOAQz69HLw2-1709428798.6871226.png
image-processing-service/app/processedImages/image.png
image-processing-service/app/processedImages/gun.png
image-processing-service/app/rawImages/1cdy16n4vOX1fJCr5bOAQz69HLw2-1709428798.6871226.png
image-processing-service/app/rawImages/gun.png
image-processing-service/app/rawImages/image.png
